version: '3.8'

services:
  # 1. Veritabanı (PostgreSQL)
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file: .env 
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-admin}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB:-ecommerce_db}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ecommerce-net

  # 2. Mesaj Kuyruğu (RabbitMQ)
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_server
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file: .env
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-admin}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    networks:
      - ecommerce-net

  # 3. API Gateway
  api-gateway:
    build: ./api-gateway
    container_name: api_gateway
    ports:
      - "4000:4000"
    depends_on:
      - auth-service
      - product-service
      - order-service
    env_file: .env
    environment:
      - PORT=4000
    networks:
      - ecommerce-net

  # 4. Mikroservisler
  auth-service:
    build: ./auth-service
    container_name: auth_service
    ports:
      - "5000:5000"
    env_file:
      - .env
      - ./auth-service/.env
    depends_on:
      - db
    networks:
      - ecommerce-net

  product-service:
    build: ./product-service
    container_name: product_service
    ports:
      - "5001:5001"
    env_file:
      - .env
      - ./product-service/.env
    depends_on:
      db:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    networks:
      - ecommerce-net

  order-service:
    build: ./order-service
    container_name: order_service
    ports:
      - "5002:5002"
    env_file:
      - .env
      - ./order-service/.env
    environment:
      - RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672
    depends_on:
      db:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    networks:
      - ecommerce-net

  # 5. Payment Service
  payment-service:
    build: ./payment-service
    container_name: payment_service
    ports:
      - "5003:5003"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    env_file:
      - .env
      - ./payment-service/.env
    environment:
      - RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    driver: bridge

volumes:
  postgres_data: